h1{text-align: center;
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 2rem;
   font-weight: bold;
   color: #cc171e;
   text-align: center;
   padding: 1rem;
   margin: 1rem 0;
       
      
}

h3{text-align: center;
   text-decoration: underline;
   padding-bottom: 0%;
   margin-bottom: 0%;
}

p{color: #CC171e;
  margin: 0%;
  padding: 0%;
}

.map{padding-left: 35%;
    

}

