.navbar {
  display: flex; /* Maintain flexbox for layout */
  
  justify-content:center; /* Distribute items horizontally */
  align-items: center; /* Maintain vertical centering */
  padding: 1rem;
  background: linear-gradient(to right, #000000, #676767); /* Black gradient background */
  color: #fff; /* Text color white */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* More prominent shadow */
  font-family: 'Montserrat', sans-serif; /* Modern font with some weight */
  text-shadow: 0 0 2px #cc171e; /* Inner shadow for text glow */
  
}

  .navbar-brand,
  .navbar-link {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out; /* Smooth transition on hover */
    position: relative; /* Needed for hover effects */
    
  }
  
  .navbar-brand:hover,
  .navbar-link:hover {
    color: #cc171e; /* Accent color on hover */
    transform: translateY(-2px); /* Slight upward movement on hover */
    text-shadow: 0 0 5px #cc171e; /* Increase glow on hover */
  }
  
  .navbar-link {
    font-weight: bold;
    color: white;
    display: flex;

  }
  
  .navbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3)); /* Overlay gradient for depth */
    z-index: -1; /* Place behind the content */
  }

  .logo{width: 25%;
        
  }
  
  
  